# packages in environment at C:\Users\Alexander\anaconda3\envs\cv:
#
# Name                    Version                   Build  Channel
blas                      1.0                         mkl  
ca-certificates           2021.10.26           haa95532_2  
certifi                   2021.10.8        py39haa95532_0  
click                     8.0.3              pyhd3eb1b0_0  
dataclasses               0.8                pyh6d0b6a4_7  
flask                     2.0.2              pyhd3eb1b0_0  
freeglut                  3.2.1                h0e60522_2    conda-forge
freetype                  2.10.4               h546665d_1    conda-forge
gunicorn                  20.1.0                   pypi_0    pypi
icu                       68.2                 h0e60522_0    conda-forge
intel-openmp              2021.4.0          haa95532_3556  
itsdangerous              2.0.1              pyhd3eb1b0_0  
jasper                    2.0.33               h77af90b_0    conda-forge
jbig                      2.1               h8d14728_2003    conda-forge
jinja2                    3.0.2              pyhd3eb1b0_0  
jpeg                      9d                   h8ffe710_0    conda-forge
lerc                      3.0                  h0e60522_0    conda-forge
libblas                   3.9.0           1_h8933c1f_netlib    conda-forge
libcblas                  3.9.0           5_hd5c7e75_netlib    conda-forge
libclang                  11.1.0          default_h5c34c98_1    conda-forge
libdeflate                1.8                  h8ffe710_0    conda-forge
liblapack                 3.9.0           5_hd5c7e75_netlib    conda-forge
liblapacke                3.9.0           5_hd5c7e75_netlib    conda-forge
libopencv                 4.5.3            py39h4b6fd43_5    conda-forge
libpng                    1.6.37               h1d00b33_2    conda-forge
libprotobuf               3.18.1               h7755175_0    conda-forge
libtiff                   4.3.0                hd413186_2    conda-forge
libwebp-base              1.2.1                h8ffe710_0    conda-forge
libzlib                   1.2.11            h8ffe710_1013    conda-forge
lz4-c                     1.9.3                h8ffe710_1    conda-forge
m2w64-gcc-libgfortran     5.3.0                         6    conda-forge
m2w64-gcc-libs            5.3.0                         7    conda-forge
m2w64-gcc-libs-core       5.3.0                         7    conda-forge
m2w64-gmp                 6.1.0                         2    conda-forge
m2w64-libwinpthread-git   5.0.0.4634.697f757               2    conda-forge
markupsafe                2.0.1            py39h2bbff1b_0  
mkl                       2021.4.0           haa95532_640  
mkl-service               2.4.0            py39h2bbff1b_0  
mkl_fft                   1.3.1            py39h277e83a_0  
mkl_random                1.2.2            py39hf11a4ad_0  
msys2-conda-epoch         20160418                      1    conda-forge
numpy                     1.21.2           py39hfca59bb_0  
numpy-base                1.21.2           py39h0829f74_0  
opencv                    4.5.3            py39hcbf5309_5    conda-forge
openssl                   1.1.1l               h2bbff1b_0  
pip                       21.2.4           py39haa95532_0  
py-opencv                 4.5.3            py39h832f523_5    conda-forge
python                    3.9.7                h6244533_1  
python_abi                3.9                      2_cp39    conda-forge
qt                        5.12.9               h5909a2a_4    conda-forge
setuptools                58.0.4           py39haa95532_0  
six                       1.16.0             pyhd3eb1b0_0  
sqlite                    3.36.0               h2bbff1b_0  
tzdata                    2021e                hda174b7_0  
vc                        14.2                 h21ff451_1  
vs2015_runtime            14.27.29016          h5e58377_2  
werkzeug                  2.0.2              pyhd3eb1b0_0  
wheel                     0.37.0             pyhd3eb1b0_1  
wincertstore              0.2              py39haa95532_2  
xz                        5.2.5                h62dcd97_1    conda-forge
zlib                      1.2.11            h8ffe710_1013    conda-forge
zstd                      1.5.0                h6255e5f_0    conda-forge
